@using SportsMonitor.Client.Model;
@inherits EventTrackerBase5


<h3>@Model?.Name - v5</h3>

@Model?.Date?.ToShortDateString()

@* @if (Model.Participants.Any())
{
    foreach (var participant in Model.Participants)
    {
        <div>
            <span @onclick="() => OnTeamSelected.InvokeAsync(participant.Clone() as EventParticipantModel)">@participant.Name</span> @participant.Score
        </div>
    }
} *@

@if (Model?.Participants?.Any() == true)
{
    foreach (var participant in Model.Participants)
    {
        <div>
            <span @onclick="() => OnTeamSelected.InvokeAsync(participant)">@participant.Name</span> 
            @participant.Score
            <span @onclick="() => participant.WinningVotes++">@participant.WinningVotes</span>
        </div>
    }
}

